src/main/resources/jokes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="category"/>
                <xs:element type="xs:string" name="type"/>
                <xs:element name="flags">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:boolean" name="nsfw"/>
                            <xs:element type="xs:boolean" name="religious"/>
                            <xs:element type="xs:boolean" name="political"/>
                            <xs:element type="xs:boolean" name="racist"/>
                            <xs:element type="xs:boolean" name="sexist"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="setup"/>
                <xs:element type="xs:string" name="delivery"/>
                <xs:element type="xs:int" name="id"/>
                <xs:element type="xs:string" name="error"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

